/vendor/
composer.lock
node_modules/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
.phpunit.result.cache
coverage/
*.log
*.cache
.env
.env.*
tests/_output/
tests/_support/_generated/
dist/
build/
ehthumbs.db
Icon?
/sandbox/